a#controlled-tab-tab-\/register {
    display: none !important;
}
input#emailOrUsername {
    display: none !important;
}
input#password {
    display: none !important;
}
button#sign-in{
    display: none !important;
}
a#forgot-password {
    display: none !important;
}
